1. Load the dataset using pandas 
2. Extract data fromYearsExperience column is a variable named X 
3. Extract data from salary column is a variable named Y 
4. Divide the dataset into two parts for training and testing in 66% and 33% proportion 
5. Create and train LinearRegression Model on training set 
6. Make predictions based on the testing set using the trained model 
7. Check the performance by calculating the r2 score of the model

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("C:\\Users\\Admin\\Desktop\\data.csv")

In [5]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [13]:
x=pd.DataFrame(data["YearsExperience"])

In [14]:
x

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [15]:
y=pd.DataFrame(data["Salary"])
y

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lin_reg=LinearRegression().fit(x_train,y_train)
lin_reg

LinearRegression()

In [21]:
y_pred=lin_reg.predict(x_test)
y_pred

array([[115814.30756236],
       [ 71511.92534771],
       [102617.85328566],
       [ 75282.34085534],
       [ 55487.65944028],
       [ 60200.67882482],
       [122412.53470072],
       [107330.8726702 ],
       [ 63028.49045554],
       [ 35692.97802523]])

In [24]:
from sklearn.metrics import r2_score

In [29]:
print(r2_score(y_pred,y_test))

0.9539713548476306

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("C:\\Users\\Admin\\Desktop\\Dataset\\bank_marketing.csv")

In [3]:
dataset.reset_index(inplace=True)

In [7]:
dataset.head()

,index,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0,0,41,services,married,unknown,no,88,yes,no,cellular,11,may,105,1,336,2,failure,no
1,1,1,56,technician,married,secondary,no,1938,no,yes,cellular,26,feb,229,1,192,4,success,yes
2,2,2,30,services,single,secondary,no,245,no,yes,cellular,8,jul,187,2,-1,0,unknown,no
3,3,3,34,management,single,tertiary,no,1396,yes,no,cellular,17,jul,630,1,-1,0,unknown,no
4,4,4,29,technician,single,secondary,no,-13,yes,no,cellular,14,may,512,3,-1,0,unknown,no

In [9]:
a=0
for i in dataset["index"]:
 TS= dataset.at[i,"age"]
 DS = dataset.at[i,"deposit"]
 if TS<40 and DS=="yes":
     a=a+1
print(a)

1427

In [15]:
harshit=dataset["balance"]

In [16]:
harshit.max()

81204

In [13]:
balance.head()

0      88
1    1938
2     245
3    1396
4     -13
Name: balance, dtype: int64

In [17]:
# Python code to demonstrate how parent constructors
# are called.

# parent class
class Person(object):

	# __init__ is known as the constructor
	def __init__(self, name, idnumber):
		self.name = name
		self.idnumber = idnumber

	def display(self):
		print(self.name)
		print(self.idnumber)
		
	def details(self):
		print("My name is {}".format(self.name))
		print("IdNumber: {}".format(self.idnumber))
	
# child class
class Employee(Person):
	def __init__(self, name, idnumber, salary, post):
		self.salary = salary
		self.post = post

		# invoking the __init__ of the parent class
		Person.__init__(self, name, idnumber)
		
	def details(self):
		print("My name is {}".format(self.name))
		print("IdNumber: {}".format(self.idnumber))
		print("Post: {}".format(self.post))


# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")

# calling a function of the class Person using
# its instance
a.display()
a.details()

Rahul
886012
My name is Rahul
IdNumber: 886012
Post: Intern

In [23]:
# Python program to
# demonstrate private members

# Creating a Base class
class Base:
	def __init__(self):
		self.a = "Intellipaat"
		self.__c = "Intellipaat"

# Creating a derived class
class Derived(Base):
	def __init__(self):

		# Calling constructor of
		# Base class
		Base.__init__(self)
		print("Calling private member of base class: ")
		print(self.__c)


# Driver code
obj1 = Base()
print(obj1.a)

# Uncommenting print(obj1.c) will
# raise an AttributeError

# Uncommenting obj2 = Derived() will
# also raise an AtrributeError as
# private member of base class
# is called inside derived class

Intellipaat

In [1]:
a=10

In [2]:
type(a)

int

In [5]:
b=20.5

In [6]:
type(b)

float

In [7]:
harshit=98

In [8]:
type(harshit)

int

In [9]:
u="James"

In [10]:
type(u)

str

In [11]:
print("Hello",'world')

Hello world

In [14]:
print("Hello",'world',sep="  ")

Hello  world

In [15]:
fruits=[6,4,7,89.6,"James","apple","mango",True,"Harshit",89.6]

In [16]:
type(fruits)

list

In [17]:
veg=(6,4,7,89.6,"James","apple","mango",True,"Harshit",89.6)

In [18]:
type(veg)

tuple

In [19]:
fruits[0]

6

In [20]:
fruits[9]

89.6

In [21]:
fruits[-1]

89.6

In [22]:
fruits[-4]

'mango'

In [23]:
fruits[6]

'mango'

In [24]:
fruits

[6, 4, 7, 89.6, 'James', 'apple', 'mango', True, 'Harshit', 89.6]

In [25]:
fruits[3]="Cheery"

In [26]:
fruits

[6, 4, 7, 'Cheery', 'James', 'apple', 'mango', True, 'Harshit', 89.6]

In [27]:
fruits.insert(2,"watermelon")

In [28]:
fruits

[6,
 4,
 'watermelon',
 7,
 'Cheery',
 'James',
 'apple',
 'mango',
 True,
 'Harshit',
 89.6]

In [29]:
fruits.append(9)

In [30]:
fruits

[6,
 4,
 'watermelon',
 7,
 'Cheery',
 'James',
 'apple',
 'mango',
 True,
 'Harshit',
 89.6,
 9]